#content {
  position:static;
}

#content .area {
  width:22%;
}

#node-4 {
  height: 0px;
  overflow:hidden;
}

#br-signup-ebulletin-form {
  height:600px;
}

#br-signup-ebulletin-form .options {
  height:550px;
}

#content .l-event .details {
  margin-top:40px;
}

.left #br-search-form select{
	*width:140px;	
}
.custom-form .captcha{
 *margin-top:50px;	
}

.custom-form .form-submit{
	*float:none;
	*position:relative;
	*top:50px;	
}

.form-item label.option{
	*display:inline-block;	
}
#content .form-item .form-checkboxes label.option input{
	*display:inline-block;		
}

.custom-form {
	*float:none;
	*min-height:780px;
	width:600px;
}

#header{
  padding-bottom:4px;
  background:#F6A01A;
  border-bottom:none;
}
#zone-header-background {
  height:98%;
}
.content-overview.front #zone-header-background {
  height:99%;
}

#content .left select,
#content .right select{
  width:180px;
}

#content .left input[type="checkbox"],
#content .right input[type="checkbox"]{
  margin:0 5px 0 0;
}
.clear a{
  padding:5px 9px 5px 8px;
}

    .content-webform .webform-component-textfield,.content-webform .webform-component-email{
      width:49%
    }