#logo {
    background: url("gfx/brodies-logo-navy-2.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    bottom: 10px;
    height: 63px;
    left: 6.4%;
    position: absolute;
    width: 246px;
}


#slogan {
  bottom: -30px;
}

#stripe-menu {
right:5%;
}


#stripe-menu h1 {
  margin:0px;
}

#stripe-menu h1 a{
  background-color: #F6A01A;
  color: #FFFFFF;
  display: block;
  margin: 0px 0px 0px 30px;
  min-width: 132px;
  padding: 10px 80px;
  text-align: center;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;      
}

#stripe-menu h1 a:hover{
  text-decoration:none !important;
}

#header {    
    height: 140px;
}

#header #back a{
  background: url("gfx/payment-navy-back.png") no-repeat scroll 9px 6px transparent;
  position:absolute;
  top: 0px;
  left: 6.4%;
  background-color: #00245d;
  color:#FFF;
  font-size:0.9em;
  padding:9px 25px 9px 40px;
  text-transform: uppercase;
}

#cards {
  background: url("gfx/world-pay-icons.png") no-repeat scroll center center transparent;
  height: 100px;
  padding-top:20px;
  border-top: 4px solid #F6A01A;
}


#footer {
	margin-top:80px;
	border-top: 1px solid #CECECE;
	padding-top:30px;
}

.ccont{
    left: 0;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 940px;
}

#content #cards {
  border-top: 0px;
  margin-bottom:120px;
}

.payment-intro {
  width:504px;
  margin:80px auto 0px auto;
}

.payment-intro .option {
  float:left;
  width:48%;
  margin-left:4%;
  color:#FFF;
  background-color: #00245d;
  text-decoration: none;
  text-align:center;
  padding: 15px 0px;
  font-weight: bold;
  height:40px;  
}

.payment-intro .option.first {
  margin-left:0%;
  height:30px;
  padding-top:25px;
}

.payment-intro a.option:hover{
  background-color: #F6A01A;
  text-decoration: none !important;
}

.payment-intro h2 {
  color:#00245d;
  font-size:1.4em;
  margin:10px 0px 40px 0px;
  text-align: center;
}

.payment-intro p {
  text-align: left;
  margin:35px 0px 20px 0px;
  font-size:0.9em;
  color:#00245d;
}

#content .block-block h2{
  color:#00245d;
  font-size:1.6em;
  margin:10px 0px 20px 0px;  
  text-transform:none; 
  line-height:1.2em;
}

#content .block-block p{
  font-size:1.5em;
  color:#00245d;
}

.payment-form .form-item{
  float:left;
  width:48%;
}

.payment-form .even .form-item{
  margin-right:3%;
}

.payment-form .form-text, .payment-form .form-textarea{
  border:1px solid #00245d;
  padding:2% 2%;
  width:96%;
}

.payment-form .form-textarea{
  resize:none;  
}

.payment-form label, .payment-form .label {
	margin-top:0.5em;
  font-size: 1.4em;
  font-weight:bold;
  color:#00245d;
  margin-bottom:10px;
}

.payment-form .textarea-identifier {  
  display: none;
}

.payment-form {
  position:relative;
  margin-bottom:40px;
}

.payment-form .form-submit{
  background: url("gfx/payment-button-icon.png") no-repeat scroll 93% center #00245d;
  position:absolute;
  right:0px;
  bottom:80px;
  color: #FFF;
  border:0px;
  padding:15px 50px 15px 20px;
  font-weight: bold;
}

.payment-form .form-submit:hover{
  background-color: #F6A01A;
  cursor:pointer;
}

.payment-form  #edit-terms-wrapper {
  clear:right;
  font-size:0.8em;  
}

.payment-form  #edit-terms-wrapper label.option{
margin-left:0px;
}

#edit-field-pay-reference-wrapper, #edit-field-pay-amount-wrapper {  
  position: relative;
  height:110px;
}

#edit-field-pay-reference-wrapper input, #edit-field-pay-amount-wrapper input{
  bottom:0px;
  position:absolute;
}

#edit-field-pay-reference-wrapper .description, #edit-field-pay-amount-wrapper .description{
  position:absolute;
  top:25px;
  font-size:1.2em;
  color:#00245d;  
}

#trustwaveSealImage {
margin:10px auto;
width:105px;
display:block;
}