#content {
  position:static;
}

#content .area {
  width:22%;
}

#node-4 {
  height: 0px;
  overflow:hidden;
}

#br-signup-ebulletin-form {
  height:600px;
}

#br-signup-ebulletin-form .options {
  height:550px;
}

#content .l-event .details {
  margin-top:40px;
}

.left #br-search-form select{
	*width:140px;	
}
.custom-form .captcha{
 *margin-top:50px;	
}

.custom-form .form-submit{
	*float:none;
	*position:relative;
	*top:50px;	
}

.form-item label.option{
	*display:inline-block;	
}
#content .form-item .form-checkboxes label.option input{
	*display:inline-block;		
}

.custom-form {
	*float:none;
	*min-height:780px;
	width:600px;
}