body{
	margin-top:0;	
}

#social a{
	height: 29px;
	width:28px;	
}

#header .arrows{
	height:29px;
	width:29px;	
}

.slide{
	background-position:top;	
}

#content .middle ul li, #popup ul li{
	margin-top:5px;	
}

#slogan{
	left:104px;
	width:200px;
	bottom:-27px;	

}

#content .l-video .item a{
	background:url("gfx/video-mask-sm.png") no-repeat scroll right bottom / 50%;
}
#content .l-video .item b{
height:32px;
top:105px
}
#display .left ul li{
		font-size:0.8em;
		margin:0 0 8px;
		line-height:1.2em;
}
#display .left {
	margin-top: 40px;	
}

#display .right{
	margin-top: 40px;	
}

#display .middle .content{
	height:260px;
	overflow:hidden;	
}

#display .middle p{
	font-size:0.9em;
	line-height:1.3em;	
}

#display .left h2 a{
	text-decoration:none !important;
	font-weight:bolder;	
}





#content .area{
	width:158px;	
}

#content .cs a, #content .people a, #content .news a, #content .sae a{

 background:none;

}

#social a:hover{
	text-decoration:none !important;	
}

.custom-form-left {
	text-align:left;
}

#block-br-27{
display:none;	
}
#display .people{
	max-height:165px;
	overflow:hidden;	
}
.back{
	margin-top:20px;	
}


/* Added 020513 */

#display .middle{
	margin-top:38px;	
	position:relative;
}
#display .middle h1{
	text-transform:none;	
	border-color:#F6A01A;
	border-style:solid;
	border-width:0;
	border-bottom-width:2px;
	padding-bottom: 7px;
}
#display .middle .popup{
	position:absolute;
	background:url(gfx/display-more.png) right top no-repeat;
	padding:5px 20px 5px 10px;
	color:white !important;	
	right:0px;
}

#display .middle .video {
margin-top:0px;
}

#display .middle .popup:hover{
	background:url(gfx/display-more-over.png) right top no-repeat;
}
#display .middle .popup a{
	color:white !important;	
}

#display .middle .content .popup {
float:right;
position:relative;
right:auto;
margin-top:8px;
}

#display .short {
    max-height: 18px;
    overflow: hidden;
}

#display .middle .text .popup {
top:-33px;
}

#display .people p{
	display:none;
}
#display .back{
	float:left;
	padding:5px 10px 5px 20px;
	background:url(gfx/display-back.png) left top no-repeat;
	margin-top: 8px;
	
}
#display .back:hover{
	background:url(gfx/display-back-over.png) left top no-repeat;
}
#display .back a{
	color:white !important;
}

#display .middle .video {
height:210px;
}

#popup{
	left:45%;
	width:42%;	
}

#display .cs span{
	text-align:left;
	padding:4px 0 5px 10px;	
}
#display .news .middle{
		margin-top:15px;
}
#display .news h1{
		font-size:1.4em;
}
#display .news .right{
		font-size:1.4em;
}
#display .news .f-item{
	
}
#display .news .middle .f-item{
	height:275px;
	background-position:left -70px;
}
#display .news .f-item .blue h2{
		font-size: 0.7em;
		text-align:left;
}
#display .news .right{
		background-color:#00235D;
		height:265px;
		padding:5px;
		width:18.23%;
}
#display .news .right .f-item{
		background:none !important;
		margin-bottom:10px;
		height:90px;
		padding-bottom:10px;
		border-color: #F6A01A;
    border-style: solid;
    border-width: 0 0 2px;
}
#content .l-news .item img{
	display:none;
}
#content .l-news .featured img{
	display:block;
}
#content .l-news .item{
	width:100% !important;	
	background-color:#fff !important;
	border-width:0px 0px 1px 0px;
}
#content .l-news .featured {
	border-width:1px;
	
}
#header #groups_autocomplete{
		right:0;
}

#display .news .f-item .blue h1{
	font-size:1.2em;
}
.content-cnews  #content .middle h3{
		text-transform:none;
		font-size:1.3em;
		line-height:1.3em;
}
.content-cnews  #content .middle .featured h3{
		font-size:1.5em;
		line-height:1.5em;
}

#edit-terms-wrapper label {
  margin-left: 22%;
  text-align:left;
  width:auto;
}