# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/themes/brodies201612/.sass-cache/
.idea/
sites/all/themes/brodies201612/microsites/prepros.cfg
sites/all/themes/brodies201612/prepros.cfg
nbproject/
