/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$font-family-sans-serif:      Helvetica, Arial, sans-serif;
$font-family-sans-serif-pt:   'PT Sans', sans-serif;
$font-family-serif:           'Georgia', serif;

// font-size
$font-size-24:24px;
$font-size-22:22px;
$font-size-20:20px;
$font-size-18:18px;
$font-size-16:16px;
$font-size-14:14px;
$font-size-12:12px;
$font-size-10:10px;


$font-size-base:          $font-size-14;

$font-size-h1:            $font-size-24; 
$font-size-h2:            $font-size-24;
$font-size-h3:            $font-size-16; 
$font-size-h4:            $font-size-14; 
$font-size-h5:            $font-size-12;
$font-size-h6:            $font-size-10;




// colours:
$colour-orange-01: #F6A01A;
$colour-orange-02: #F69F19;
$colour-blue-01: #152B47;
$colour-blue-02: #00235d;
$colour-blue-03: #132b48;
$colour-peach-01: #FDECD8;
$colour-grey-01: #cecece;
$colour-grey-02: #f4f4f4;
$colour-brown-01: #dfd1c8;
$colour-white-01: #fff;
$colour-black-01: #000;
$colour-pink:#ed1457;
$colour-purple:#8c5d9f;
$colour-green:#81bd35;

$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$nav-link-hover-bg: transparent;

$navbar-default-color: $colour-blue-01;

$link-color:$colour-blue-02;
$link-hover-color: $colour-orange-02;

$grid-gutter-width: 10px;

// dropdown menu
$dropdown-bg:$colour-blue-01;
$dropdown-bottom-border:$colour-white-01;
$dropdown-bottom-border-active:$colour-blue-01;


// pagination
$pagination-color: $colour-blue-02;
$pagination-bg: $colour-white-01;
$pagination-border: $colour-blue-02;

$pagination-hover-color: $colour-orange-01;
$pagination-hover-bg: $colour-white-01;
$pagination-hover-border: $colour-blue-02;

$pagination-active-color: $colour-orange-01;
$pagination-active-bg: $colour-white-01;
$pagination-active-border: $colour-blue-02;

$pagination-disabled-color: $colour-blue-02;
$pagination-disabled-bg: $colour-white-01;
$pagination-disabled-border: $colour-blue-02;

// breadcrumb
$breadcrumb-padding-vertical:   3px;
$breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Breadcrumb text color
$breadcrumb-color:              $colour-blue-02;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $colour-blue-02;