// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';
@import 'helpers';

//@import "compass/css3";
// compass sprites
//@import "compass/utilities/sprites";

//$icons: sprite-map("br-icons/*.png", $spacing: 20px); // define a sprite map

/*

// mobile only
@media #{$mobile-max} {
}
// tablet an above
@media #{$tablet} {
}
// up to normal
@media #{$tablet-max} {
}
// normal and above
@media #{$normal} {
}
// up to wide
@media #{$normal-max} {
}
@media #{$wide} {
}
*/


//////////////////////////////////////////////////////////////////////////////////
// Base
// are the defaults. They are almost exclusively single element selectors 
// but it could include attribute selectors, pseudo-class selectors, 
// child selectors or sibling selectors. 
// Essentially, a base style says that wherever this element is on the page, 
// it should look like this.
//////////////////////////////////////////////////////////////////////////////////
body{
    margin: 0;
    background: transparent;
    font-family: Helvetica, Arial, sans-serif;
    color: #00235d;
    font-size: 12px;
}

p {
    line-height:1.4em;
}

h1,
.page-header {
    font-size:21px;
    line-height: 27px;
    padding-bottom:15px;
}

h2 {
    margin: 0.25em 0em 0.5em;
    font-size:1.2em;
    line-height:1.5em;
}

h3 {
    color:#00235d;
    font-size:1.0em;
}

hr {
    height: 3px;
    border: 0;
    background: #F69F19;
}
picture[data-picture-mapping="col_3"]{
    @extend .col-md-3;
}
picture[data-picture-mapping="col_4"]{
    @extend .col-md-4;
}
picture[data-picture-mapping="col_6"]{
    @extend .col-md-6;
}
picture[data-picture-mapping="col_9"]{
    @extend .col-md-9;
}
picture[data-picture-mapping="col_12"]{
    @extend .col-md-12;
}
picture[data-picture-align="left"] {
    float: left;
}
picture[data-picture-align="right"] {
    float: right;
}
picture[data-picture-align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


//////////////////////////////////////////////////////////////////////////////////
// Layout
// divide the page into sections. 
// Layouts hold one or more modules together.
//////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////
// Modules
// are the reusable, modular parts of our design. 
// They are the callouts, the sidebar sections, the product lists and so on.
//////////////////////////////////////////////////////////////////////////////////

// global
.no-padding-left-sm{
    padding-left:0 !important;  
}
.no-padding-left-md{
    @media #{$normal} {
        padding-left:0 !important;  
    }
}
.no-padding-left-lg{
    @media #{$wide} {
        padding-left:0 !important;  
    }
}
.no-padding-right-sm{
    padding-right:0 !important;  
}
.no-padding-right-md{
    @media #{$normal} {
        padding-right:0 !important;  
    }
}
.no-padding-right-lg{
    @media #{$wide} {
        padding-right:0 !important; 
    }
}
@media #{$normal} {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

/********************** Original pop up ***********************/

.close {
    position:absolute;
    width:40px;
    height:40px;
    right:-20px;
    top:-20px;
    cursor:pointer;
    background: url("../images/popup-close.png") no-repeat scroll center center transparent;   
}

.close:hover {
    background: url("../images/popup-close-over.png") no-repeat scroll center center transparent;   
}

#overlay {
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    left:0px;top:0px;
    background:url("../images/display-bkg.png") repeat scroll center top transparent;
}

#popup {
    width:50%;
    top:100px;
    left:50%;
    margin-left:-25%;
    padding:1% 2%;
    position:absolute;
    z-index:101;    
    border:1px solid #FFF;
    background-color:#FFF;
    box-shadow:0px 0px 10px #000;
    p{
        font-size: 1.0em;
    }
    h1 {
        text-transform: uppercase;
    }

    img{
        max-width:100%;
    }

    .video {
        width:100%;
        height:400px;
    }
}
/********************** HEADER: Background ***********************/
body{
    .navbar-wrapper{
        border-bottom:4px solid $colour-orange-01;
    }
}
body:not(.node-type-lpagef){
    .navbar-wrapper{
        background: #FDECD8;
        @media #{$tablet} {
            height:179px;
            .container{
                height:179px;
            }
        }
    }
}
body.node-type-lpagef{
    .navbar-wrapper{
        @media #{$tablet} {
            height:258px;
            .container{
                height:258px;
            }
        }
    }
}
.navbar-background{
    display: none;
    @media #{$tablet} {
        display: block;
    }
    .block{
        position: absolute;
        left:0;
        right:0;
        margin:auto;
        text-align: center;
        max-width:100%;
        overflow: hidden;
    }
}
/********************** HEADER: LOGOS ***********************/
.logo-wrapper-mobile{
    @media #{$tablet} {
        display: none;
    }
}
.logo-wrapper-desktop{
    display: none;
    @media #{$tablet} {
        position:absolute;
        display: block;
        bottom:5px;
    }
}
#slogan {
    margin: 10px 0 0 50px;
    height: 16px;
    width: 200px;
    background: url("../images/slogan.png") no-repeat 0 0 transparent;  
}

/********************** HEADER: TOP MENU ***********************/

@media #{$tablet} {
    .navbar.container{
        padding-left:0;
        padding-right:0;
    }
    .navbar-collapse{
        padding-top:38px;
        padding-left:0;
        padding-right:0;
    }
}
.navbar{
    .menu {
        &.nav {
            position:relative;
            z-index:1;
            ul {
                list-style-type:none;  
                margin:0px;
                padding:0px;

            } 
            &>li {
                display:inline-block;
                &>a{  
                    background: url("../images/menu-separator.png") no-repeat scroll left center transparent;
                    padding:0px 11px 0px 13px;
                    text-transform: capitalize;
                    font-size:12px;
                    font-weight: 700;
                } 
                &:first-child a {
                    background:none;
                    padding-left: 0px;
                }
                &.active-trail,
                &.active{
                    & > a{
                        color: $colour-orange-02;  
                    }
                }
            }
        }
    }
}
/********************** HEADER: SOCIAL ICONS ***********************/
#block-block-38 {
    text-align:right;
    a{
        display:inline-block;
        width:29px;
        height:29px;
        background: no-repeat scroll center center transparent;
    }
    .li{
        background-image: url("../images/social-li-over.png");
        &:hover{
            background-image: url("../images/social-li.png");
        }
    }

    .fb{
        background-image: url("../images/social-fb-over.png");
        &:hover{
            background-image: url("../images/social-fb.png");
        }
    }
    .tw{
        background-image: url("../images/social-tw-over.png");
        &:hover{
            background-image: url("../images/social-tw.png");
        }
    }
    .gplus{
        background-image: url("../images/social-gplus-over.png");
        &:hover{
            background-image: url("../images/social-gplus.png");
        }
    }
    .yt{
        background-image: url("../images/social-yt-over.png");
        &:hover{
            background-image: url("../images/social-yt.png");
        }
    }
}

/********************** HEADER: MID MENU ***********************/
.menu-block-3 {
    position: absolute;
    right:0;
    top:-46px;
    .nav{
        &>li{
            display:inline-block;
            min-width:132px;
            background-color:$colour-blue-01;
            border-bottom:1px solid $dropdown-bottom-border;
            color:$colour-white-01;
            margin-left: 20px;
            text-align: center;
            font-size:10px;
            &.open{
                border-bottom:1px solid $dropdown-bottom-border-active;
                &.active-trail{
                    border-bottom:1px solid $colour-orange-01;
                }
            }
            &>a{
                color:$colour-white-01;
                &:hover{
                    color:$colour-white-01;
                }
            }
        }

        &>li>a:hover,
            &>li>a.active,
            &>li.active-trail >a{
            text-decoration:none !important;
        }

        &>li>a.active,
        &>li.active-trail >a{
            background-color:$colour-orange-01;
            color:$colour-blue-01;
        }
    }
    .nav>li, 
    .dropup, .dropdown {
        position:static !important;
    }
}
.dropdown-li {
    display:inline-block !important;
    padding-right:4px !important;
}
.dropdown-link {
    display:inline-block !important; 
    padding-right:4px !important;
}
.dropdown-caret {
    display:inline-block !important; 
    padding-left:4px !important;
    cursor: pointer;
}
.dropdown-menu{
    left:auto;
    right:0;
    margin:0;
    border:0;
    box-shadow: none;
    border-radius: 0;
    column-count: 3;
    -webkit-column-rule: 1px outset $colour-orange-01; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px outset $colour-orange-01; /* Firefox */
    column-rule: 1px outset $colour-orange-01;
    &>li>a{
        color: $colour-white-01;
    }
}

/********************** BLOCKS***********************/
.region-sidebar-first,
.region-sidebar-second{

    .block:first-child label,
        .block:first-child h2,
        .block:first-child .submenu h2,
        #block-block-15 h2,
        #block-br-13 h2{
        font-size:13px;
        line-height:27px;
        padding-top:3px;
        padding-bottom:12px;
        text-transform: uppercase;
        margin-bottom:15px;
    }
}


h1.page-header,
.region-sidebar-first .block:first-child label,
.region-sidebar-first .block h2,
.region-sidebar-second .block .submenu h2,
.region-sidebar-second #block-block-15 h2,
.region-sidebar-second #block-br-13 h2{
    border-bottom:3px solid #f7a11a;
    width:calc(100% + 30px);
    margin-left: -(ceil(($grid-gutter-width / 2)));
    padding-left:ceil(($grid-gutter-width / 2));
    padding-left:floor(($grid-gutter-width / 2));
}



/********************** Main content area ***********************/
.main-container{
    padding-bottom:10px;   
}
/********************** ORIGINAL: show / hide block content ***********************/


.lp2-show-more{
    margin-top: 10px;
    text-align: right;
    a{
        &:after{
            content:'';
            display:inline-block;
            vertical-align: top;
            width:9px;
            height:8px;
            margin:2px 0 0 5px;
            background: url('../images/less-arrow.png') no-repeat 0 0;
        }
        &.closed:after{
            content:'';
            display:inline-block;
            vertical-align: top;
            width:9px;
            height:8px;
            margin:2px 0 0 5px;
            background: url('../images/more-arrow.png') no-repeat 0 0;
        }
    }
}
.view{
    color: $colour-orange-01;
    position:absolute;
    text-transform: uppercase;
    bottom:5px;
    right:20px;
    z-index:15;
    font-family:georgia;
    &:after{
        content:'';
        display:inline-block;
        vertical-align: top;
        width:9px;
        height:8px;
        margin:2px 0 0 5px;
        background: url('../images/more-arrow.png') no-repeat 0 0;
    }
}


/********************** content fade mask ***********************/
.mask{
    position:absolute;
    bottom:0px;
    left:ceil(($grid-gutter-width / 2));
    height:50px;
    width:calc(100% - 30px);
    z-index:10;
    background: -moz-linear-gradient(top,  rgba(0,36,93,0) 0%, rgba(0,36,93,1) 60%, rgba(0,36,93,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,36,93,0)), color-stop(60%,rgba(0,36,93,1)), color-stop(100%,rgba(0,36,93,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,36,93,0) 0%,rgba(0,36,93,1) 60%,rgba(0,36,93,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,36,93,0) 0%,rgba(0,36,93,1) 60%,rgba(0,36,93,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,36,93,0) 0%,rgba(0,36,93,1) 60%,rgba(0,36,93,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,36,93,0) 0%,rgba(0,36,93,1) 60%,rgba(0,36,93,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000245d', endColorstr='#00245d',GradientType=0 ); /* IE6-9 */

}
/********************** Footer ***********************/
.footer-wrapper{
    margin:40px 0;
    border-top:1px solid $colour-orange-01;
    padding-top:35px;
}
.footer{
    .block {
        h2{
            font-size:12px;
            margin:0px 0px 15px;
            text-transform: uppercase;
            font-weight:700;
        }
        ul li {
            padding:0px;
            list-style-image: none;
            list-style-type: none;
        }
        .nav>li{
            margin:0px 0px 10px;    
            &>a{
                padding:0;   
            }
        }
    }
    #block-block-1 {
        a{
            display:block;
            margin:0px 0px 10px;  
        }
    }
    #block-block-8{
        .col-md-3{
            border-top:1px solid $colour-orange-01;
        }
        a{
            color: $colour-orange-02;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////
// State
// are ways to describe how our modules or layouts will look when in a 
// particular state. Is it hidden or expanded? Is it active or inactive? 
// They are about describing how a module or layout looks on screens that 
// are smaller or bigger. They are also about describing how a module might
//  look in different views like the home page or the inside page.
//////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////
// Theme
// are similar to state rules in that they describe how modules or layouts
// might look. Most sites don't require a layer of theming but it is good to
// be aware of it.
//////////////////////////////////////////////////////////////////////////////////


// landing page
body.node-type-lpagef{
    .navbar{
        .menu {
            &.nav {
                &>li {
                    &>a{  
                        color: $colour-white-01;
                    }
                }
            }
        }
    }
    #slogan {
        background: url("../images/logo-strap-lp.png") no-repeat 0 0 transparent;  
    }
    h1{
        position:absolute;
        font-family:georgia;
        font-size:32px;
        left:0px;
        bottom:60px;
        width:30%; 
        color:#FFF;
        font-weight:normal;
        text-transform: uppercase;

        &.page-header{
            border-bottom:0;
        }
    }
    .contact {
        background-color: $colour-blue-02;
        margin-bottom:17px;
    }

    .contact-image,
    .contact-info{
        display:inline-block;
        vertical-align: top;
        position: relative;
        width:48%;
    }
    .contact-info{
        p {
            color:$colour-white-01;
            font-family:georgia;
            margin:5px 10px 5px 15px;
            font-size:14px;
        }
        a{
            color:$colour-orange-01;
            text-decoration: none;
            display:block;
            b{
                font-size: 10px;
            }
        }
    }
    .col h3,
    .contact-info b{
        display:block;
        width:100%;
        border-bottom:2px solid $colour-orange-01;
        color:$colour-white-01;  
        font-family: helvetica,arial;
        font-size:12px;
        font-weight:bold;
        text-transform: uppercase;
        padding-bottom:2px; 
        margin:8px 0 5px;
    }
    .col-md-6.col-left{
        color:$colour-white-01;
        a{
            color: $colour-orange-01;
        }
    }
    .col-md-6.col-right{
        padding-bottom:10px;
        img{
            width:100%;
        }
    }
    .col {
        @media #{$tablet-max}{
            margin-bottom:10px;
        }
        h3{
            margin:8px 10px 5px;
        }
        ul{
            margin-left: 10px;
            padding-left: 0;
        }
        li a{
            color: $colour-white-01;
        }

        @media #{$tablet-max}{
            img{
                display:block;
            }
        }
        @media #{$normal}{
            overflow:hidden;
            display:inline-block;
            width:100%;
            height:100%;
            img{
                width:100%;
                max-width:100%;
                height:auto !important;
                max-height:100% !important;
            }
        }
    }
    .footer-wrapper{
        margin-top:0;
        border-top:4px solid $colour-orange-01;
    }
}