/*
The styles in this stylesheet only apply to resolutions 768px and up

CALCULATING DIMENSIONS:
----------------------
The layout is fluid. The sote wrapper (.col-full) has a fixed pixel max-width.
All subsequent dimensions are calculated based on that fixed pixel width, using the formula: target / context = result
Credit - http://www.alistapart.com/articles/fluidgrids/

-----
INDEX
-----

1. Global dropdown styles
2. Top Navigation
3. Main navigation dropdown menus
 -3.1 General dropdown menus
4. Containers & Columns
5. Footer widgets
6. IE Fixes
7. MISC

*/
/*----------------------*/
/*----------------------*/
#wrapper {
  overflow: hidden;
}
#header-wrap,
#content,
#footer-widgets,
#footer {
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  body .floater {
    float: right;
  }
  /* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
  ul.nav {
    position: relative;
    margin-bottom: 0;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  ul.nav li {
    margin: 0;
    position: relative;
    float: left;
    zoom: 1;
    list-style: none;
  }
  ul.nav li a {
    display: block;
    padding: .53em 1em;
    text-transform: uppercase;
  }
  ul.nav li.parent > a {
    position: relative;
    padding-right: 1.8em;
  }
  ul.nav li.parent > a:after {
    content: "";
    display: block;
    border: 0.4em solid #f26522;
    border-color: #f26522 transparent transparent transparent;
    position: absolute;
    top: 40%;
    right: .7em;
  }
  ul.nav ul {
    width: 11.089em;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    margin: -1px 0 0;
  }
  ul.nav ul li {
    float: none;
  }
  ul.nav ul li a {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    /* Opera/IE 8+ */
  
  }
  ul.nav ul li.parent a {
    padding-right: 0;
  }
  ul.nav ul li.parent a:after {
    border-color: transparent transparent transparent #f26522 !important;
    right: 3%;
    top: 46%;
  }
  ul.nav ul ul {
    left: 100%;
    top: 0;
  }
  ul.nav li:hover > ul {
    visibility: visible;
  }
  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
  #top {
    background: #333333;
    margin: 0 -1.618em;
    padding: 0 1.618em;
  }
  #top #top-nav {
    display: block;
  }
  #top #top-nav li a {
    color: #f2f2f2;
  }
  #top ul.nav {
    font-size: .857em;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #top ul.nav > li a:hover {
    background: #555;
  }
  #top ul.nav > li:hover {
    background: #555;
  }
  #top ul.nav ul {
    background: #555;
  }
  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  #navigation {
    display: block !important;
  }
  #navigation ul.nav {
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #navigation ul.nav > li:hover {
    background: #f2f2f2;
    border-radius: 3px;
  }
  #navigation ul.nav ul {
    background: #f2f2f2;
    border-radius: 0 3px 3px 3px;
  }
  #navigation ul.nav ul li a {
    font-size: 0.75em;
  }
  #navigation ul.nav ul li a:hover {
    text-decoration: underline;
  }
  #navigation ul.nav ul ul {
    top: -1px;
    left: 100%;
  }
  .nav a {
    font-family: "Droid Serif", sans-serif;
    font-size: 0.9em;
    color: #333333;
  }
  h3.nav-toggle {
    display: none;
  }
  /* 4. CONTAINERS & COLUMNS */
  body #header {
    padding: 3.25em 0 2.9em;
  }
  body #header .col-full {
    position: relative;
  }
  body #header #logo,
  body #header hgroup {
    float: left;
    margin: 0 3em 0 0;
  }
  body #header hgroup {
    margin-top: -6px;
  }
  body #header .search_main {
    background: rgba(0, 0, 0, 0.03);
    clear: none;
    margin: 0 0 0.667em;
    padding: 6px;
    float: right;
    width: 288px;
  }
  body #header #topad {
    float: right;
    margin: 0 0 0.667em;
  }
  #main.fullwidth,
  .layout-full #main,
  .col-full {
    max-width: 62.7em;
    margin: 0 auto;
    width: 100%;
  }
  #main {
    width: 70%;
  }
  #sidebar {
    margin-top: 0;
    width: 26%;
  }
  .entry img {
    max-width: 94%;
  }
  .layout-right-content #main {
    float: right;
  }
  .layout-right-content #sidebar {
    float: left;
  }
  .layout-full #main {
    width: 100%;
  }
  .col-left {
    float: left;
  }
  .col-right {
    float: right;
  }
  .page-template-template-contact-php .location-twitter .col-left {
    float: left;
  }
  .page-template-template-contact-php .location-twitter #office-location {
    width: 48%;
    margin: 0;
  }
  .page-template-template-contact-php .location-twitter .contact-social {
    float: right;
    width: 48%;
  }
  .page-template-template-contact-php .location-twitter .contact-social #twitter {
    margin: 0;
  }
  /* 5. FOOTER WIDGETS */
  #footer-widgets .block {
    margin-right: 3.8%;
    float: left;
  }
  #footer-widgets.col-1 .block {
    width: 100%;
    float: none;
  }
  #footer-widgets.col-1 .footer-widget-1 {
    margin-right: 0;
  }
  #footer-widgets.col-2 .block {
    width: 48%;
  }
  #footer-widgets.col-2 .footer-widget-2 {
    margin-right: 0;
  }
  #footer-widgets.col-3 .block {
    width: 30.75%;
  }
  #footer-widgets.col-3 .footer-widget-3 {
    margin-right: 0;
  }
  #footer-widgets.col-4 .block {
    width: 22.05%;
  }
  #footer-widgets.col-4 .footer-widget-4 {
    margin-right: 0;
  }
  /* 6. IE FIXES */
  .ie7 #top-nav {
    position: relative;
    z-index: 9999999;
  }
  .ie7 #header {
    position: relative;
    z-index: 9999999;
  }
  /* 7. MISC */
  /* Post */
  .post,
  .type-page {
    margin: 0 0 2.618em;
  }
  .post .post-meta,
  .type-page .post-meta {
    float: left;
    width: 14.89%;
    /* 140 / 940 = 0.1489 */
  
    text-transform: none;
  }
  .post .post-meta .post-date.border,
  .type-page .post-meta .post-date.border {
    border-bottom: 1px solid #dddddd;
  }
  .post,
  #main,
  #featured {
    /* 0.8297 */
  
  }
  .post img.thumbnail,
  #main img.thumbnail,
  #featured img.thumbnail {
    margin-bottom: 1.111em;
  }
  .post .post-meta li,
  #main .post-meta li,
  #featured .post-meta li {
    display: block;
    text-align: left;
  }
  .post .section-body,
  #main .section-body,
  #featured .section-body,
  .post #commentform,
  #main #commentform,
  #featured #commentform,
  .post #post-categories,
  #main #post-categories,
  #featured #post-categories,
  .post .pinglist,
  #main .pinglist,
  #featured .pinglist {
    float: right;
    width: 82.97%;
  }
  .post #post-category,
  #main #post-category,
  #featured #post-category {
    clear: both;
  }
  .section-body .chevron {
    display: block;
  }
  .section-body.primary li.post {
    margin-bottom: 0;
    width: 25.2em;
  }
  .section-body.primary li.post:nth-child(2n+1) {
    margin-right: 1.59em;
  }
  .section-body.secondary {
    margin-bottom: 0;
  }
  .section-body.secondary li.post {
    width: 9.333em;
    margin-right: 1.333em;
  }
  .section-body.secondary ul.lc {
    width: 42em;
  }
  .section-body.secondary ul.lc li:nth-child(4n+4) {
    margin-right: 0;
  }
  .section-body.secondary ul.lc li:nth-child(5n+5) {
    clear: both;
  }
  .section-body li.post {
    float: left;
  }
  .section-body li.post h3 span {
    float: right;
  }
  .section-body li.post .post-meta {
    float: none;
    width: auto;
  }
  .section-body li p {
    overflow: auto;
  }
  .post-meta,
  #comments h3,
  #respond h3,
  #post-category h3,
  .section-title,
  .section_categories h3 {
    float: left;
  }
  .archive #main .section-body,
  .page-template-template-archives-php #main .section-body {
    width: 74.6%;
  }
  #content #archive-latest ul li {
    margin: 0 19px 2.618em 0;
  }
  #content #archive-latest ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  #content #archive-dates .section-body li.widget.post:nth-of-type(3n+3) {
    margin-right: 0;
  }
  #content #archive-dates .section-body li.widget.post:nth-of-type(odd) {
    clear: none;
  }
  #content #archive-dates .section-body li.widget.post:nth-of-type(3n+4) {
    clear: both;
  }
  /* 4.1 Custom Single Page Layouts */
  #content.special-single .post .column-clear {
    margin: 0 0 40px;
    padding-top: 20px;
    border-style: solid;
    border-width: 0 0 1px;
  }
  /* 3 Column Layout */
  .column-layout-3col .column {
    float: left;
    width: 30.57%;
    margin: 0 1.111em 0 0;
  }
  .column-layout-3col .column-01 {
    margin-top: 0;
  }
  .column-layout-3col .column-02 {
    clear: none;
  }
  .column-layout-3col .column-03 {
    float: right;
  }
  /* 2 Column Layout (Double Right) */
  .column-layout-2colA .column-01 {
    float: left;
    width: 30.57%;
    margin: 0 1.111em 0 0;
  }
  .column-layout-2colA .column-02 {
    float: left;
    width: 65.3%;
  }
  /* 2 Column Layout (Double Left) */
  .column-layout-2colB .column-01 {
    float: left;
    width: 65.3%;
    margin: 0 1.111em 0 0;
  }
  .column-layout-2colB .column-02 {
    float: left;
    width: 30.57%;
  }
  /* 2 Column Layout (50-50) */
  .column-layout-2colC .column-01 {
    float: left;
    width: 47.93%;
    margin: 0 1.111em 0 0;
  }
  .column-layout-2colC .column-02 {
    float: left;
    width: 47.93%;
  }
}




